*{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
}

.nav{
     width: 100%;
     background-color: black;
     height: 8vh;
     color: aliceblue;
}

.nav > ul {
     gap: 20px;     
     display: flex;
     align-items: center;
     list-style: none;
}

.nav > ul  > img {
     margin-left: 15%;
     margin-top: 0.5%;
}

.ul2 {
     gap: 20px;     
     display: flex;
     align-items: center;
     list-style: none;
}

.ul2 {
     margin-left: 35%;
     margin-top: -1.5%;
}

.ul3{
     margin-left: 75%;
     margin-top: -1.5%;  
     gap: 45px;
}

.icon {
     width: 15%;
     height: 3vh;
}

.icon2 {
     width: 15%;
     height: 3vh;
}

.icon3 {
     width: 15%;
     height: 3vh;
}